@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
    --color-primaryRed: hsl(0, 36%, 70%);
    --color-softRed: hsl(0, 93%, 68%);
    --color-darkGrayishRed: hsl(0, 6%, 24%);
    --gradient-white: 135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%);
    --gradient-red: 135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%);
}

body {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width: 330px;
}

main {
    display: flex;
}

.info-wrapper {
    width: 100%;
    height: 100vh;
    background-image: url('../images/bg-pattern-desktop.svg');
    background-position: left;
    background-size: cover;
}


h1 {
    text-transform: uppercase;
    font-size: 3.8em;
    letter-spacing: 18px;
    line-height: 1em;
    margin: 130px 0 0px 0;
}

.lighter {
    font-weight: 300;
    display: block;
    color: var(--color-primaryRed);
}

.bolder {
    font-weight: 600;
    color: var(--color-darkGrayishRed);
    display: block;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 0px 100px 0 12vw;
}

.logo {
    width: 160px;
    margin-top: 60px;
}

p {
    max-width: 450px;
    margin-bottom: 20px;
    line-height: 1.8em;
    color: var(--color-primaryRed);
}

.main-image {
    height: 100vh;
    margin-left: auto;
}

form {
    position: relative;
}

.email-wrapper {
    max-width: 320px;
}

#email {
    width: 80%;
    border: 0.3px solid var(--color-primaryRed);
    border-radius: 100px;
    padding: 16px 80px 16px 30px;
    margin-top: 10px;
    color: var(--color-primaryRed);
    font-size: 16px;
    font-family:'Josefin Sans', sans-serif;
    background-color: transparent;
}

::placeholder {
    color: var(--color-primaryRed);
}

#submit {
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border: none;
    border-radius: 40px;
    padding: 8px 45px;
    box-shadow: 0px 5px 16px 1px var(--color-primaryRed);
    cursor: pointer;
    position: relative;
    bottom: 50px;
    left: 100%;
}

#submit:hover {
    background: linear-gradient(135deg, hsl(0, 71%, 86%), hsl(0, 63%, 77%));
}

input:focus {
    box-shadow: 0 0 0 2pt var(--color-softRed);
    outline: none;
}

.arrow-icon {
    width: 14px;
    margin-top: 50%;
    margin-right: 50%;
}

.error-icon {
    display: none;
    position: absolute;
    top: 25px;
    left: 270px;
}

.text {
    color: var(--color-softRed);
    display: inline-block;
    position: absolute;
    top: 100px;
    left: 30px;
    padding-bottom: 50px;
}

.mobile-image {
    display: none;
}

@media only screen and (max-width: 530px) {
    main {
        flex-direction: column-reverse;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

    .info {
        text-align: center;
        margin: 0 auto;
    }

    .main-image {
        display: none;
    }

    .mobile-image {
        display: block;
        width: 100vw;
        margin: 0 auto;
    }

    .email-wrapper {
        max-width: 50vw;
        margin: 0 auto;
        margin-top: 20px;
        left: 50%;
        transform: translate(-25%);
    }
    
    #email {
        max-width: 90%;
        padding: 15px 80px 15px 30px;
        margin: 0 auto;
    }

    #submit {
        padding: 11px 35px;
        bottom: 50px;
        left: 80%;
    }

    .error-icon {
        top: 15px;
        left: 90%;
    }

    .arrow-icon {
        width: 12px;
    }

    .text {
        left: 70px;
    }

    .logo {
        margin: 50px;
        width: 120px;
    }

    h1 {
        font-size: 3em;
        letter-spacing: 15px;
    }

    p {
        max-width: 340px;
        width: 90vw;
        margin: 0 auto;
    }

    .info-wrapper {
        background-image: none;
    }

}